.main {
  width: 100%;
}

h1 {
  font-weight: 700;
  margin-bottom: 2rem;
}

.main h1 {
  color: #fff;
  font-size: 7vw;
  margin-top: 5rem;
  text-align: center;
  text-transform: uppercase;
}

.main h2 {
  color: #030;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span::after {
  opacity: 1;
  right: 0;
}

.button:hover span {
  padding-right: 15px;
}

.item {
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 1px 8px #e0e0e0;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
}
