.house {
  align-self: center;
  margin-left: 3rem;
  width: 100%;
 
}

img {
  max-width: 60%;
  align-self: center;
}

.img1 {
  border-radius: 5px;
  box-shadow: 0 1px 8px #e0e0e0;
  height: 100%;
  width: 93%;
  align-self: center;
}
